.DS_Store
.cache/
.idea/
__pycache__/
*.pyc
*.pyo
*.db
.env
runtime-data/
build/
.dart_tool/
**/build/
**/.dart_tool/
mobile_flutter/.flutter-plugins
mobile_flutter/.flutter-plugins-dependencies
mobile_flutter/.packages
ios/Flutter/ephemeral/
mobile_flutter/ios/Flutter/ephemeral/
